body
{
}
@import url('https://fonts.googleapis.com/css?family=Assistant');
p,div,ul,lable,h1,h2,h3,h4,h5,h6,h7,problem,choicegroup,choice,label {
 font-family: 'Assistant', sans-serif !important;
 direction: rtl;
}
p{
    color: red;
}
.try1{ 
    color: blue !important; 
    font-size: 16pt !important; 
    text-decoration: underline !important;
}

.group-heading{ 
    color: #4cff00 !important;
    text-decoration: none !important;
}

.hd,hd-2,unit-title{
    color: white; 
    background-color: blue;
}

