@import url('https://fonts.googleapis.com/css?family=Assistant');
p,div,ul,lable,h1,h2,h3,h4,h5,h6,h7,problem,choicegroup,choice,label {
 font-family: 'Assistant', sans-serif !important;
 direction: rtl;
}


.tryggg{
 font-size: 18pt;
 font-weight: bold;
 color: red;
}
.gH2{
 font-size: 16pt;
 font-weight: bold;
}
.gH3{
 font-size: 14pt;
 font-weight: bold;
}

.runText {
 font-size: 13pt;
 text-align: right;
 color:red !important;
}


