@import url('https://fonts.googleapis.com/css?family=Assistant');
p,div,ul,lable,h1,h2,h3,h4,h5,h6,h7,problem,choicegroup,choice,label {
 font-family: 'Assistant', sans-serif !important;
 direction: rtl;
}
//*כותרות*//
.gH1{
 font-size: 18pt !important;
 font-weight: bold !important;
}
.gH2{
 font-size: 16pt !important;
 font-weight: bold !important;
}
.gH3{
 font-size: 14pt !important;
 font-weight: bold !important;
}
//*טקסט רץ*//
.runText {
 font-size: 13pt !important; 
 text-align: right !important; 
}


